doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.css')
=======
    link(rel='stylesheet', href='/public/stylesheets/style.css')
>>>>>>> 542fcc46d840e808beb828cacf014b6aee2c1dca
  body
    block content
